@import url("font-awesome.min.css");
/*@import url(https://fonts.googleapis.com/css?family=Raleway:200); */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0F1116;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    line-height: 1.65em;
}

#nav {
    flex-direction: row;
}

#wrapper-inner {
    background: url("../img/bg.jpg") no-repeat center top;
    min-height: 1000px;
    /* gestione immagine di sfondo */
    background-size: contain; /* adatta l'immagine anche con il resize */
    background-size: cover; /* Fa riempire l'immagine al div in cui contiene */

}

header {
    padding: 1.25em 1.25em 1.25em 1.25em;
    position: relative;
    top: 0;
    left: 0;
    /*background: #0F1116;
    */
    background: #808080;
    color: #FFF;
    font-size: 20px;
}

#logo h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding: 5%;

}

#logo h1.nav {
    right: 0;
    position: absolute;
    font-size: 10em;
    border: none;
}

h1 a {
    color: #445;
    text-decoration: none;
}

a {
    text-decoration: none;
}

span {
    font-weight: 300;
    font-size: 20px;
    color: #555;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    font-size: 35px;
}

#row {
    border: none;
    border-bottom: 1px solid #555;
    padding: 1em;
}

#row p.value {
    margin-top: 2%;
}

#row.tasto {
    border: 1px solid black;
    width: 10%;
    margin-left: 2.5%;
    margin-top: 1%;
    background-color: #808080;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}

/* RESPONSIVE */


@media screen and (max-width: 768px) {
    
    span {
        display: none;
    }
   
   #logo h1 {
    font-size: 20px;
   }
}










